* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin-top: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F0F2F5;
}

.container {
  margin: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contains {
  margin-top: -80px;
}

.left_section {
  width: 40%;

}

.right_section {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  margin: -31px;
  width: 320px;
  height: 106px;
}

.logo_reg{
  margin: 12px 0px 0px 28px;
  width: 320px;
  height: 106px;
}

.regcontent{
  margin-top: 20px;
}

.reg_dob{
  margin-left: -273px;
  color: rgb(76, 75, 75);
  font-size :14px;
}
.reg_gender{
  margin:0px 0px 20px -305px;
  color: rgb(76, 75, 75);
  font-size :14px;
}
.reg_main
{
  display: flex;
  margin-left: -135px;
  gap: 5px;
}

.h5_reg{
margin: 15px 10px 15px 10px;
}

.hr_line_reg{
   border: d grey;
  width: 600px;
  margin: 20px 0px;
}

input[type="radio"] {
  width: 16px;
  height: 16px;
  appearance: radio;
}

h3 {
  color: black;
  font-size: 30px;
  margin-top: 10px;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: larger;
  font-weight: 500;
  font-weight: 100;
}

.i_container {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 396px;
  height: 370px;
  box-shadow: -10px -10px 15px rgb(0, 0, 0, 0.1), 10px 10px 15px rgb(0, 0, 0, 0.1);
  border-radius: 10px;
}

.i_container_reg {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 700px;
  height: 875px;
  box-shadow: -10px -10px 15px rgb(0, 0, 0, 0.1), 10px 10px 15px rgb(0, 0, 0, 0.1);
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
}

input {
  width: 340px;
  height: 52px;
  margin: 10px 0px;
  padding: 0px 10px;
  outline: none;
  border: 0.7px solid grey;
  /* border-end-end-radius: 1px solid grey; */
  font-size: 18px;
  border-radius: 10px;
}

input[type="submit"] {
  background-color: royalblue;
  color: white;
  width: 360px;
  border: none;
}

.hr_line {
  border: d grey;
  width: 320px;
  margin: 20px 0px;
}

.c_account {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: green;
  width: 250px;
  height: 50px;
  font: 18px;
  font-weight: 30px;
  color: white;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
}

p {
  margin: 20px 0px;
  font-size: 18px;
  font-weight: 20px;
}